html,body{
  box-sizing: border-box;
  overflow-x: hidden;
}

.anim{
  width: 100vw;
  height: 100vh;
  background-color: black;
}


h1{
  font-size: 150px;
  position: absolute;
  top: 50%;
    color: wheat;
    left: 50%;
    transform: translate(-50%);
}